#main{
    height: auto;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(45deg, #00dbde, #fc00ff);
    background-repeat: no-repeat;
}
.wrapper{
    overflow: hidden;
}
.container{
    background-color: white;
    width: 500px;
    border-radius: 10px;
}
#hedng{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
}
label{
    font-size: 30px;
    color: black;
}
::placeholder{
    font-size: 20px;
    font-weight: 600;
    color:#cdc9c9;
}
#sel{
    font-size: 17px;
    font-weight: normal;
    color: #7c7979;
}

.text{
    margin-left: 60px;
    resize: vertical !important;
}
input:focus{
    border-bottom: 1px solid black !important;
}
#texta:focus{
    border-bottom: 1px solid black !important;
}
#texta{
    resize: vertical !important;
}
.dropdown-content li>span{
    color: black !important;
    font-size: 15px !important;
    border: 0 !important;
    
}
.dropdown-content .selected span{
    color: white !important;
    font-size: 15px !important;
    border: 0 !important;
    
}
.select-dropdown{
    font-size: 18px !important;
}
.dropdown-content li>span:hover{
    background-image:  linear-gradient(45deg,#fc00ff,#00dbde) !important;
    color: white !important;
        
}
.selected{
    background-image: linear-gradient(45deg,#fc00ff,#00dbde)!important;
    color: white !important;
}
.button{
    background-image: linear-gradient(45deg, #fc00ff, #00dbde);
    border-radius: 60px;
    height: 50px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
}
.sub_but{
    margin-top: 9px;
    margin-left: 40%;
}
span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 600;
}
.inserticon{
    margin-top: 10px;
    margin-left: 5px;
    color: white;
}
.button:hover{
    background-image: linear-gradient(45deg, #00dbde, #fc00ff);
    cursor: pointer;
}
@media screen and (max-width:700px){
    .container{
        width: 90% !important;
    }
    ::placeholder{
        font-size: 15px;
    }
    .button{
        margin-right: 30px !important;
    }
    .sub_btn{
        margin-left: 70px;
    }
 }
 @media screen and (max-width: 360px){
     .contain{
         width: 100%;
     }
     .sub_btn{
         margin-left: 40px;
     }
 
 }



